side-nav {
	width: 14rem;
	height: 100%;
	background-color: hsla(180, 6%, 97%, 1);
	display: flex;
	flex-direction: column;
	border-right: 1px solid hsla(210, 3%, 75%, 1);
	box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2);
	position: fixed;
	.logo {
		width: 100%;
		height: 8rem;
		border-bottom: 1px solid hsla(210, 3%, 75%, 1);
		background-color: hsla(180, 6%, 97%, 1);
		font-family: $logo-stack;
		font-size: 4rem;
		cursor: pointer;
		h1 {
			margin: 0.5rem 0 0 1rem;
		}
	}
	.logo:hover {
		background-image: url('https://media.giphy.com/media/83sbbbGYGVCta/giphy.gif');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		h1 {
			color: #fff;
		}
	}
	.nav-btn {
		height: 3rem;
		background-color: hsla(180, 6%, 97%, 1);
		padding: 0 1rem;
		font-family: $helvetica-stack;
		font-size: 0.9rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
		cursor: pointer;
		.dot {
			width: 0.4rem;
			height: 0.4rem;
			background-color: hsla(210, 3%, 75%, 1);
			border-radius: 50%;
		}
	}
	.nav-btn:hover {
		background-color: #E5E5E5;
		cursor: pointer;
		.dot {
			background-color: hsla(0, 0%, 0%, 1);
		}
	}
	.nav-btn:active {
		background-color: hsla(180, 6%, 99%, 1);
	}
	.nav-top {
		width: 100%;
		.project-info {
			padding: 1rem 1rem 3rem;
			margin: 0 auto;
			background-color: #fff;
			display: none;
			h2 {
				font-family: $serif-stack;
				font-weight: 700;
				font-size: 2rem;
				margin-bottom: 1rem;
				line-height: 2.2rem;
				text-rendering: geometricPrecision;
				letter-spacing: 0.05rem;
			}
			p {
				font-family: $helvetica-stack;
				font-size: 0.8rem;
				line-height: 1rem;
				margin-bottom: 3rem;
			}
			.visit {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				cursor: pointer;
				p {
					padding-bottom: 0.5rem;
					font-family: $serif-stack;
					font-weight: 400;
					font-size: 1.5rem;
					line-height: 1.5rem;
					text-align: center;
					color: hsla(210, 3%, 75%, 1);
					margin-bottom: 0.5rem;
					text-rendering: geometricPrecision;
					letter-spacing: 0.02rem;
					border-bottom: 1px solid hsla(210, 3%, 75%, 1);
				}
			}
			.visit:hover {
				p {
					color: #000;
					border-bottom: 1px solid hsla(0, 0%, 0%, 1);
				}
			}
		}
		.search {
			height: 3rem;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: transparent;
			input {
				width: 100%;
				height: 100%;
				padding: 0 1rem;
				border: none;
				background-color: transparent;
				font-family: $helvetica-stack;
				font-weight: 300;
				font-size: 0.9rem;
				outline: none;
			}
			input:focus {
				background-color: #fff;
			}
		}
		.border-bottom {
			border-bottom: 1px solid hsla(210, 3%, 75%, 1);
		}
	}
	.nav-bottom {
		width: 100%;
		position: absolute;
		bottom: 0;
		box-shadow: -5px 0px 16px 0px rgba(0,0,0,0.2);
		.user-menu {
			display: none;
			height: 15rem;
			background-color: #E5E5E5;
			> .nav-btn {
				padding-left: 2.5rem;
				padding-right: 0;
				background-color: hsla(180, 6%, 88%, 1);
				.icon {
					width: 3rem;
					height: 3rem;
					color: hsla(210, 3%, 75%, 1);
					display: flex;
					justify-content: center;
					align-items: center;
				}
			}
			> .nav-btn:hover {
				background-color: hsla(0, 0%, 90%, 1);
				cursor: pointer;
				.icon {
					color: hsla(0, 0%, 0%, 1);
				}
			}
			> .nav-btn:active {
				background-color: hsla(180, 6%, 99%, 1);
			}
			input {
				height: 3rem;
				padding: 0 1rem;
				border: none;
				border-top: 1px solid hsla(210, 3%, 75%, 1);
				background-color: #fff;
				font-family: $helvetica-stack;
				font-weight: 300;
				font-size: 0.9rem;
				outline: none;
			}
			.input-button {
				width: 100%;
				cursor: pointer;
				background-color: hsla(210, 3%, 75%, 1);
				color: hsla(180, 6%, 97%, 1);
			}
			.input-button:hover {
				background-color: hsla(210, 3%, 65%, 1);
			}
			.input-button:active {
				background-color: hsla(210, 3%, 85%, 1);
			}
		}
		.login-form {
			width: 100%;
			height: 15rem;
			display: none;
			background-color: #E5E5E5;
			input {
				height: 3rem;
				padding: 0 1rem;
				border: none;
				border-top: 1px solid hsla(210, 3%, 75%, 1);
				background-color: #fff;
				font-family: $helvetica-stack;
				font-weight: 300;
				font-size: 0.9rem;
				outline: none;
			}
			.input-text {
				width: 85.5%;
			}
			.input-button {
				width: 100%;
				cursor: pointer;
				background-color: hsla(210, 3%, 75%, 1);
				color: hsla(180, 6%, 97%, 1);
			}
			.input-button:hover {
				background-color: hsla(210, 3%, 65%, 1);
			}
			.input-button:active {
				background-color: hsla(210, 3%, 85%, 1);
			}
		}
		.border-top {
			border-top: 1px solid hsla(210, 3%, 75%, 1);
		}
	}

	.active {
		background-color: #fff;
		> .dot {
			background-color: green;
		}
	}

	@-webkit-keyframes slideOutUp {
	  from {
	    -webkit-transform: translate3d(0, 0, 0);
	    transform: translate3d(0, 0, 0);
	  }

	  to {
	    visibility: hidden;
	    -webkit-transform: translate3d(0, -100%, 0);
	    transform: translate3d(0, -100%, 0);
	  }
	}

	@keyframes slideOutUp {
	  from {
	    -webkit-transform: translate3d(0, 0, 0);
	    transform: translate3d(0, 0, 0);
	  }

	  to {
	    visibility: hidden;
	    -webkit-transform: translate3d(0, -100%, 0);
	    transform: translate3d(0, -100%, 0);
	  }
	}

	.slideOutUp {
	  -webkit-animation-name: slideOutUp;
	  animation-name: slideOutUp;
	}
}
