<div class="logo" ui-sref="home">
	<h1>YENTE</h1>
</div>
<div class="nav-top">
	<div class="nav-btn border-bottom" ui-sref="home">
		<p>Yente Gallery</p><i class="dot"></i>
	</div>
	<div class="nav-btn border-bottom">
		<p>Talent Profiles</p><i class="dot"></i>
	</div>
</div>

<div class="nav-bottom">
	<div class="search">
		<input type="text" placeholder="Search">
	</div>
	<div class="nav-btn border-top">
		<p>Login</p><i class="dot"></i>
	</div>
	<div class="nav-btn border-top">
		<p>Apply for an account</p><i class="dot"></i>
	</div>
</div>
