body {
	ui-view {
		.profile-wrapper {
			width: 100%;
			display: flex;
			flex-direction: row;
			.left {
				display: flex;
				flex-direction: column;
				flex-basis: 12rem;
				flex-grow: 1;
				.avatar {
					width: 50%;
					min-width: 8rem;
					margin: 0 auto;
					margin-bottom: 3rem;
					img {
						width: 100%;
						border-radius: 50%;
					}
				}
				.bio {
					p {
						text-align: justify;
						font-family: $helvetica-stack;
						font-weight: lighter;
						font-size: 0.8rem;
						line-height: 1rem;
						color: hsla(180, 6%, 60%, 1);
					}
				}
			}
			.right {
				margin-left: 2rem;
				padding-left: 2rem;
				border-left: 1px solid hsla(210, 3%, 75%, 1);
				display: flex;
				flex-grow: 3;
				flex-direction: column;
				.name{
					h2 {
						font-family: $logo-stack;
						font-size: 6rem;
						color: hsla(180, 6%, 50%, 1);
					}
				}
				.location {
					margin-bottom: 2rem;
					h3 {
						font-family: $helvetica-stack;
						font-size: 1rem;
						font-weight: lighter;
						color: hsla(180, 6%, 50%, 1);
					}
				}
				.project-wrapper {
					display: flex;
					justify-content: flex-start;
					flex-flow: row wrap;
					.project-browser {
						margin-right: 2rem;
						margin-bottom: 2rem;
						border: 12px solid hsla(180, 6%, 95%, 1);
						img {
							max-width: 35rem;
						}
					}
				}
			}
		}
	}
}
