<div class="title">
	<h2>Apply for a Yente account</h2>
</div>

<div class="application">
	<div class="explanation">
		<p>We here at Yente pride ourselves in finding the best of the best that the internet has to offer. Therefore, if you don't get accepted to be part of our network, too bad. You suck. Go cry to your mommy and tell her that I'll see her later tonight. K, bai!!</p>
		<br>
		<p>One summer's day I went to the zoo to check out some of the cool animal exhibits that the zoo had to offer. When I got to the giraffe exhibit, I was blown away at how tall these creatures were. I then found out that they have the same amount of vertebrae in their necks as humans do. During my moment of amazement, one of the giraffes decided to relieve himself. As this was happening, another giraffe came to investigate. This giraffe decided to drop his head down to get a closer look at the long stream that was coming out of the other giraffe. Then to everyone's surprise, the giraffe decided to drink the pee. HE DRANK THE PEE!!</p>
	</div>
	<form action="">
		<p>*All fields are required</p>
		<div class="username">
			<div class="input-wrapper">
				<input type="text" placeholder="Username" required>
			</div>
		</div>
		<div class="password">
			<div class="input-wrapper">
				<input type="password" placeholder="Password" required>
			</div>
			<div class="input-wrapper">
				<input type="password" placeholder="Retype password" required>
			</div>
		</div>
		<div class="name">
			<div class="input-wrapper">
				<input type="text" placeholder="First name" required>
			</div>
			<div class="input-wrapper">
				<input type="text" placeholder="Last Name" required>
			</div>
		</div>
		<div class="email">
			<div class="input-wrapper">
				<input type="email" placeholder="Email" required>
			</div>
		</div>
		<div class="links">
			<p>Links to your work (up to 6)</p>
			<div class="container">
				<div class="input-wrapper">
					<input type="url" placeholder="url">
					<input type="url" placeholder="url">
					<input type="url" placeholder="url">
				</div>
				<div class="input-wrapper">
					<input type="url" placeholder="url">
					<input type="url" placeholder="url">
					<input type="url" placeholder="url">
				</div>
			</div>
		</div>
		<div class="bio">
			<div class="input-wrapper">
				<p>Tell us about yourself and your work (minimum 140 characters)</p>
				<textarea name="name" rows="8" cols="40" required></textarea>
			</div>
		</div>
		<input class="submit" type="submit">
	</form>
</div>
