<div class="title">
	<h2>Apply for a Yente account</h2>
</div>

<div class="application">
	<div class="explanation">
		<p>We here at Yente pride ourselves in finding the best of the best that the internet has to offer. Therefore, if you don't get accepted to be part of our network, too bad. You suck. Go cry to your mommy and tell her that I'll see her later tonight. K, bai!!</p>
		<br>
		<p>One summer's day I went to the zoo to check out some of the cool animal exhibits that the zoo had to offer. When I got to the giraffe exhibit, I was blown away at how tall these creatures were. I then found out that they have the same amount of vertebrae in their necks as humans do. During my moment of amazement, one of the giraffes decided to relieve himself. As this was happening, another giraffe came to investigate. This giraffe decided to drop his head down to get a closer look at the long stream that was coming out of the other giraffe. Then to everyone's surprise, the giraffe decided to drink the pee. HE DRANK THE PEE!!</p>
	</div>
	<div class="form" action="">
		<p>*All fields are required</p>
		<div class="username">
			<div class="input-wrapper">
				<input type="text" placeholder="Username" required ng-model="applyCtrl.username">
			</div>
		</div>
		<div class="password">
			<div class="input-wrapper">
				<input type="password" placeholder="Password" required ng-model="applyCtrl.password">
			</div>
		</div>
		<div class="name">
			<div class="input-wrapper">
				<input type="text" placeholder="First name" required ng-model="applyCtrl.firstName">
			</div>
			<div class="input-wrapper">
				<input type="text" placeholder="Last Name" required ng-model="applyCtrl.lastName">
			</div>
		</div>
		<div class="email">
			<div class="input-wrapper">
				<input type="email" placeholder="Email" required ng-model="applyCtrl.email">
			</div>
		</div>
		<div class="location">
			<div class="input-wrapper city">
				<input type="text" placeholder="City" required ng-model="applyCtrl.city">
			</div>
			<div class="input-wrapper state">
				<input type="text" placeholder="State" required ng-model="applyCtrl.state">
			</div>
		</div>
		<div class="bio">
			<div class="input-wrapper">
				<p>Tell us about yourself and your work (minimum 140 characters)</p>
				<textarea name="name" rows="8" cols="40" required ng-model="applyCtrl.bio"></textarea>
			</div>
		</div>
		<input class="submit" type="submit" ng-click="applyCtrl.register(applyCtrl.username, applyCtrl.password, applyCtrl.firstName, applyCtrl.lastName, applyCtrl.email, applyCtrl.city, applyCtrl.state, applyCtrl.bio)">
	</div>
</div>
