<div class="grid">
	<div class="project" ng-repeat="project in projects" ng-click="goToProject(project._id)">
		<div class="project-browser">
			<div class="browser-top">
				<div class="browser-btns">
					<div class="btn red"></div>
					<div class="btn yellow"></div>
					<div class="btn green"></div>
				</div>
			</div>
			<img ng-src="{{project.projectImageUrl}}" alt="">
			<div class="browser-bottom"></div>
		</div>
		<p>{{project.creator.name.first}} {{project.creator.name.last}}</p>
	</div>
</div>
