<div class="settings-title">
	<h2>User Settings</h2>
</div>
<div class="settings-form">

	<div class="avatar">
		<div class="preview"></div>
		<div class="file-chooser">
			<input type="file">
		</div>
	</div>

	<div class="credentials">
		<div class="username">
			<input type="text">
		</div>
		<div class="password">
			<div class="old">
				<input type="password" placeholder="Old password">
			</div>
			<div class="new">
				<input type="password" placeholder="New password">
			</div>
		</div>

		<div class="info">
			<div class="name">
				<div class="first">
					<input type="text">
				</div>
				<div class="last">
					<input type="text">
				</div>
			</div>

			<div class="email">
				<input type="email">
			</div>

			<div class="bio">
				<textarea name="name" rows="8" cols="40"></textarea>
			</div>
		</div>

	</div>

</div>
