<div class="title">
	<h2>Apply for a Yente account</h2>
</div>

<div class="application">
	<div class="explanation">
		<p>Yente is a curated publishing platform aimed at creating accessible tools and a networked context to enhance the exposure of talented individuals on the Internet.</p>
		<br>
		<p>We here at Yente pride ourselves in finding the best of the best that the internet has to offer. Although everyone is welcome to apply to be a part of our collective, not all submitted work is accepted. We hope that you understand.</p>
		<br>
		<p>Thank you for submitting your application to be a part of our collective and we look forward to seeing the work that you create.</p>
		<br>
		<p style="text-align: right;">-Yente</p>
	</div>
	<div class="form" action="">
		<p>*All fields are required</p>
		<div class="username">
			<div class="input-wrapper">
				<input type="text" placeholder="Username" required ng-model="applyCtrl.username">
			</div>
		</div>
		<div class="password">
			<div class="input-wrapper">
				<input type="password" placeholder="Password" required ng-model="applyCtrl.password">
			</div>
		</div>
		<div class="name">
			<div class="input-wrapper">
				<input type="text" placeholder="First name" required ng-model="applyCtrl.firstName">
			</div>
			<div class="input-wrapper">
				<input type="text" placeholder="Last Name" required ng-model="applyCtrl.lastName">
			</div>
		</div>
		<div class="email">
			<div class="input-wrapper">
				<input type="email" placeholder="Email" required ng-model="applyCtrl.email">
			</div>
		</div>
		<div class="location">
			<div class="input-wrapper city">
				<input type="text" placeholder="City" required ng-model="applyCtrl.city">
			</div>
			<div class="input-wrapper state">
				<input type="text" placeholder="State" required ng-model="applyCtrl.state">
			</div>
		</div>
		<div class="bio">
			<div class="input-wrapper">
				<p>Tell us about yourself and your work (minimum 140 characters)</p>
				<textarea name="name" rows="8" cols="40" required ng-model="applyCtrl.bio"></textarea>
			</div>
		</div>
		<input class="submit" type="submit" ng-click="applyCtrl.register(applyCtrl.username, applyCtrl.password, applyCtrl.firstName, applyCtrl.lastName, applyCtrl.email, applyCtrl.city, applyCtrl.state, applyCtrl.bio)">
	</div>
</div>
