
<div class="card" ng-repeat="user in talentsCtrl.users">
	<div class="user-card">
		<div class="user-info">
			<div class="avatar">
				<img ng-src="{{user.avatar}}" alt="">
			</div>
			<div class="info">
				<h3>{{user.firstName}} {{user.lastName}}</h3>
				<h4>{{user.city}}, {{user.state}}</h4>
				<p>{{user.bio}}</p>
				<div class="links">
					<a class="icon email" href="{{user.email}}" target="_blank"><i data-icon="c"></i></a>
					<a class="icon follow" href="{{user.github}}" target="_blank"><i data-icon="a"></i></a>
				</div>
			</div>
		</div>
		<div class="projects">
			<div class="project-container" ng-repeat="project in user.projects"  ui-sref="project({id: project._id})">
				<img ng-src="{{project.projectImageUrl}}" alt="">
			</div>
		</div>
	</div>
	<line></line>
</div>
