// user-card {
// 	width: 100%;
// 	display: flex;
// 	justify-content: space-between;
// 	align-items: center;
// 	box-sizing: border-box;
// 	.user-info {
// 		width: 100%;
// 		display: flex;
// 		justify-content: flex-start;
// 		box-sizing: border-box;
// 		.user {
// 			width: 50%;
// 			// max-width: 25rem;
// 			// float: left;
// 			display: flex;
// 			justify-content: flex-start;
// 			// flex-grow: 0;
// 			// flex-shrink: 0;
// 			.avatar {
// 				width: 40%;
// 				max-width: 10rem;
// 				margin-right: 5%;
// 				border-radius: 50%;
// 				box-sizing: border-box;
// 				img {
// 					width: 100%;
// 					border-radius: 50%;
// 				}
// 			}
// 			.info {
// 				width: 60%;
// 				// min-width: 10rem;
// 				max-width: 15rem;
// 				float: left;
// 				margin-right: 5%;
// 				display: flex;
// 				justify-content: flex-start;
// 				flex-direction: column;
// 				h3 {
// 					font-family: $logo-stack;
// 					letter-spacing: 0.08rem;
// 					font-weight: lighter;
// 					font-size: 1.5rem;
// 					line-height: 1.8rem;
// 					color: hsla(180, 6%, 50%, 1);
// 				}
// 				h4 {
// 					font-family: $helvetica-stack;
// 					font-weight: lighter;
// 					font-size: 1rem;
// 					color: hsla(180, 6%, 50%, 1);
// 					margin-bottom: 1rem;
// 				}
// 				p {
// 					font-family: $helvetica-stack;
// 					font-weight: lighter;
// 					font-size: 0.8rem;
// 					line-height: 1rem;
// 					color: hsla(180, 6%, 60%, 1);
// 					margin-bottom: 0.5rem;
// 					height: 5rem;
// 					overflow: hidden;
// 				  text-overflow: ellipsis;
// 				}
// 				.links {
// 					width: 100%;
// 					height: 2rem;
// 					display: flex;
// 					flex-direction: row;
// 					.icon {
// 						width: 2rem;
// 						height: 2rem;
// 						margin-right: 0.5rem;
// 						background-color: hsla(180, 6%, 80%, 1);
// 						border-radius: 15%;
// 						display: flex;
// 						justify-content: center;
// 						align-items: center;
// 						cursor: pointer;
// 						i {
// 							color: #fff;
// 						}
// 					}
// 					.icon:hover {
// 						background: hsla(180, 6%, 70%, 1);
// 					}
// 					.icon:active {
// 						background: hsla(180, 6%, 85%, 1);
// 					}
// 				}
// 			}
// 		}
// 	}
// 	.projects::-webkit-scrollbar {
// 		display: none;
// 	}
// 	.projects {
// 		width: 50%;
// 		max-width: 100%;
// 		// min-width: 0;
// 		height: 100%;
// 		overflow: hidden;
// 		padding: 5px;
// 		overflow-x: scroll;
// 		display: flex;
// 		align-items: center;
// 		// flex-shrink: 1;
// 		// flex-grow: 1;
// 		.container {
// 			width: auto;
// 			display: flex;
// 			flex-direction: row;
// 			justify-content: flex-start;
// 			flex-wrap: nowrap;
// 			.project-container {
// 				width: 16rem;
// 				height: 10rem;
// 				margin-right: 1rem;
// 				border: 12px solid hsla(180, 6%, 95%, 1);
// 				cursor: pointer;
// 				display: inline-block;
// 				box-shadow: 1px 1px 5px #888888;
// 				overflow: hidden;
// 				img {
// 					width: 100%;
// 					background-color: #333;
// 					display: inline;
// 				}
// 			}
// 		}
// 	}
// }





user-card {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	.user-info {
		width: 100%;
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		align-items: stretch;
		> div {
			margin-bottom: 2rem;
		}
		.user {
			width: 50%;
			// max-width: 25rem;
			// float: left;
			display: flex;
			justify-content: flex-start;
			// flex-grow: 0;
			// flex-shrink: 0;
			.avatar {
				min-width: 8rem;
				max-width: 10rem;
				margin-right: 5%;
				border-radius: 50%;
				box-sizing: border-box;
				img {
					width: 100%;
					border-radius: 50%;
				}
			}
			.info {
				width: 60%;
				// min-width: 10rem;
				float: left;
				display: flex;
				justify-content: flex-start;
				flex-direction: column;
				h3 {
					width: 100%;
					font-family: $logo-stack;
					letter-spacing: 0.08rem;
					font-weight: lighter;
					font-size: 1.5rem;
					line-height: 1.8rem;
					color: hsla(180, 6%, 50%, 1);
				}
				h4 {
					width: 100%;
					font-family: $helvetica-stack;
					font-weight: lighter;
					font-size: 1rem;
					color: hsla(180, 6%, 50%, 1);
					margin-bottom: 1rem;
				}
				p {
					width: 100%;
					font-family: $helvetica-stack;
					font-weight: lighter;
					font-size: 0.8rem;
					line-height: 1rem;
					color: hsla(180, 6%, 60%, 1);
					margin-bottom: 0.5rem;
					height: 5rem;
					overflow: hidden;
				  text-overflow: ellipsis;
				}
				.links {
					width: 100%;
					height: 2rem;
					display: flex;
					flex-direction: row;
					.icon {
						width: 2rem;
						height: 2rem;
						margin-right: 0.5rem;
						background-color: hsla(180, 6%, 80%, 1);
						border-radius: 15%;
						display: flex;
						justify-content: center;
						align-items: center;
						cursor: pointer;
						i {
							color: #fff;
						}
					}
					.icon:hover {
						background: hsla(180, 6%, 70%, 1);
					}
					.icon:active {
						background: hsla(180, 6%, 85%, 1);
					}
				}
			}
		}
	}
	.project-container {
		width: 16rem;
		height: 10rem;
		margin-right: 1rem;
		border: 12px solid hsla(180, 6%, 95%, 1);
		cursor: pointer;
		display: inline-block;
		box-shadow: 1px 1px 5px #888888;
		overflow: hidden;
		img {
			width: 100%;
			background-color: #333;
			display: inline;
		}
	}
}
