<div class="user">
	<div class="user-info">
		<div class="avatar">
			<img src="http://payload345.cargocollective.com/1/4/140568/9204333/9squares3_skip_700.gif" alt="">
		</div>
		<div class="info">
			<h3>Joseph Toh Djojo</h3>
			<h4>Salt Lake City, UT</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			<div class="links">
				<div class="icon email"></div>
				<div class="icon follow"></div>
			</div>
		</div>
	</div>
	<div class="projects">
		<div class="project-browser">
			<div class="browser-top">
				<div class="browser-btns">
					<div class="btn red"></div>
					<div class="btn yellow"></div>
					<div class="btn green"></div>
				</div>
			</div>
			<img src="http://payload255.cargocollective.com/1/5/189127/7415188/Schermafbeelding%202014-02-24%20om%2009.22.29_905.png" alt="">
			<div class="browser-bottom"></div>
		</div>
		<div class="project-browser">
			<div class="browser-top">
				<div class="browser-btns">
					<div class="btn red"></div>
					<div class="btn yellow"></div>
					<div class="btn green"></div>
				</div>
			</div>
			<img src="http://payload255.cargocollective.com/1/5/189127/7415188/Schermafbeelding%202014-02-24%20om%2009.22.29_905.png" alt="">
			<div class="browser-bottom"></div>
		</div>
		<div class="project-browser">
			<div class="browser-top">
				<div class="browser-btns">
					<div class="btn red"></div>
					<div class="btn yellow"></div>
					<div class="btn green"></div>
				</div>
			</div>
			<img src="http://payload255.cargocollective.com/1/5/189127/7415188/Schermafbeelding%202014-02-24%20om%2009.22.29_905.png" alt="">
			<div class="browser-bottom"></div>
		</div>
		<div class="project-browser">
			<div class="browser-top">
				<div class="browser-btns">
					<div class="btn red"></div>
					<div class="btn yellow"></div>
					<div class="btn green"></div>
				</div>
			</div>
			<img src="http://payload255.cargocollective.com/1/5/189127/7415188/Schermafbeelding%202014-02-24%20om%2009.22.29_905.png" alt="">
			<div class="browser-bottom"></div>
		</div>
		<div class="project-browser">
			<div class="browser-top">
				<div class="browser-btns">
					<div class="btn red"></div>
					<div class="btn yellow"></div>
					<div class="btn green"></div>
				</div>
			</div>
			<img src="http://payload255.cargocollective.com/1/5/189127/7415188/Schermafbeelding%202014-02-24%20om%2009.22.29_905.png" alt="">
			<div class="browser-bottom"></div>
		</div>
	</div>
</div>
