.grid {
	margin: 0 auto;
	position: relative;
	width: 80%;
}

.gridItem {
	background: #e0e0e0;
	border-radius: 3px;
	box-sizing: border-box;
	color: #aaa;
	font-size: 13px;
	padding: 5px;
	position: absolute;
}
