body {
	ui-view {
		height: auto;
		.modal {
			display: none;
			position: absolute;
			top: 0;
			left: 0;
			width: 100vw;
			height: 100vh;
			background-color: hsla(0, 0%, 20%, 0.4);
			z-index: 200;
			display: none;
			.modal-container {
				width: 100vw;
				height: 100vh;
				display: flex;
				justify-content: center;
				align-items: center;
				.inner-container {
					display: flex;
					justify-content: center;
					align-items: center;
					padding: 3rem;
					background-color: #CCC;
					p {
						color: black;
					}
				}
			}
		}
		.addproject-wrapper {
			display: flex;
			flex-direction: column;
			align-items: center;
			h2 {
				font-family: $logo-stack;
				font-size: 3rem;
				margin-bottom: 4rem;
			}
			> .form {
				width: 100%;
				display: flex;
				flex-direction: column;
				align-items: center;
				.input-text {
					width: 50%;
					height: 1.5rem;
					padding: 0 0.2rem 0.2rem;
					border: none;
					border-bottom: 1px solid hsla(210, 3%, 75%, 1);
					font-family: $mono-stack;
					font-size: 0.8rem;
					font-weight: 300;
					outline: none;
					margin-bottom: 1rem;
				}
				.url {
					margin-bottom: 4rem;
				}
				.desc {
					width: 50%;
					margin-bottom: 3rem;
					p {
						font-family: $mono-stack;
						margin-bottom: 0.5rem;
					}
					textarea {
						width: 100%;
						resize: vertical;
						border: 1px solid hsla(210, 3%, 75%, 1);
						font-family: $mono-stack;
					}
				}
				.file-wrapper {
					width: 50%;
					display: flex;
					justify-content: flex-start;
					flex-direction: column;
					font-family: $mono-stack;
					h4 {
						font-family: $logo-stack;
						font-size: 2rem;
						margin-bottom: 1rem;
					}
					.button-wrapper {
						display: flex;
						flex-direction: column;
						justify-content: flex-start;
						.choose-file {
							margin-bottom: 2rem;
						}
						.preview {
							width: 30rem;
							margin-bottom: 2rem;
						}
						.project-submit {
							width: 20%;
							height: 2rem;
							margin-right: 1rem;
						}
					}
				}
			}
		}
	}
}
